@use './modules/skill-item';

.skill-tab-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    border-radius: 10px;
}
.skill {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    background-color: rgba(80, 79, 79, 0.466);
    transition: color, background-color, 150ms ease-in;
    cursor: pointer;
    &:hover {
        background-color: rgba(34, 33, 33, 0.466);
        transition: background-color, 150ms ease-in;
    }
    &:focus {
        color: black;
        background-color: white;
        transition: color, background-color, 150ms ease-in;
    }
}

@media (max-width: 600px) {
    .skill-tab-section {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 400px) {
    .skill-tab-section {
        grid-template-columns: repeat(1, 1fr);
    }
}