@use './shared/global/global';
@use './shared/footer/footer';
@use './shared/navbar/navbar';

@use './components/home/home';
@use './components/intro/intro';
@use './components/projects/projects';
@use './components/skills/skills';
@use './components/upcoming/upcoming';
@use './components/summary/summary';

:root {
	--default-bg-color:rgba(0,0,0,0.95);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: rgba(0,0,0,0.9);
}
html {
	scroll-behavior: smooth!important;
	color: white;
	scrollbar-width: thin;
	&::-webkit-scrollbar {
		width: 5px;
		display: none;
	}
}