:root {
    --footer-bg-color:rgba(0,0,0,0.85);
}
.footer {
    padding: 10px;
    display: grid;
    grid-template-columns: 50px 1fr 170px;
    grid-template-areas: 
    "footer-logo footer-detail footer-social";
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
    margin-top: 25px;
}
.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer-logo;
}
.footer-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    
}
.footer-detail {
    grid-area: footer-detail;
    text-align: center;
    p {
        text-align: center;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: bolder;
    }
}
.footer-social {
    grid-area: footer-social;
    display: grid;
    grid-template-columns: repeat(6, 20px);
    align-items: center;
    grid-gap: 10px;
    margin-right: 20px;
    justify-content: center;
    a { 
        display: inline-block;
        color: white;
        text-decoration: none;
        font-size: 24px;
        padding: 5px;
        border-radius: 50%;
        transition: text-shadow 300ms ease-in; 
        &:hover {
            text-shadow: 0 0 10px whitesmoke;
            transition: text-shadow 100ms ease-in;    
        }
    }
}

@media (max-width: 600px) {
    .footer {

        grid-template-areas: 
            "footer-logo footer-social footer-social"
            "footer-detail footer-detail footer-detail"
            ;
    }
    .footer-social {
        justify-content: flex-end;
    }
}