:root {
    --skill-item-bg-color:transparent;
}
.tech-skills {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: repeat(7, 1fr);
}
.skill-item {
    background-color: var(--skill-item-bg-color);
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
}
.skill-logo {
    max-width: 100px;
    max-height: 100px;
}
.skill-item p {
    font-size: 24px;
    margin-top: 10px;
    letter-spacing: -2px;
    font-family: "Source Code Pro";
}

@media (max-width: 1000px) {
    .tech-skills {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 800px) {
    .tech-skills {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    .tech-skills {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px) {
    .tech-skills {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 350px) {
    .tech-skills {
        grid-template-columns: repeat(1, 1fr);
    }
}