:root {
    --detail-bg-color:gray;
}
.info-container {
 display: grid;
 align-items: center;
 grid-template-areas: 
 "info-header info-header"
 "info-image info-detail"
 ;
 grid-template-columns: 350px 1fr;
}
.info-header-section {
    grid-area: info-header;
}
.info-image-section {
    grid-area: info-image;
    display: flex;
    padding-left: 10px;
    img {
        max-width: 250px;
        max-height: 250px;
    }
}
.info-detail-section {
    grid-area: info-detail;
    .info-detail {
        padding: 5px 0;
        
        h4 {
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
        }
        p {
            display: inline;
            font-size: 14px;
            padding: 1.5px 2.5px;
            border-radius: 5px;
            background-color: var(--detail-bg-color);

            font-weight: lighter;
            font-family: "Fira Code", sans-serif;
        }
    }
}

@media (max-width: 600px) {
    .info-container {
        grid-template-areas: 
        "info-header info-header"
        "info-image info-image"
        "info-detail info-detail"
        ;
        grid-template-columns: 1fr;
    }
    .info-image-section {
        padding-left: 0px;
        align-items: center;
        justify-content: center;
    }
    .info-detail-section {
        padding: 10px;
    }
}