.project-skills {
	margin-top: 10px;
	padding-right: 10px;
	align-items: center;
	justify-content: center;
	display: grid;
	grid-gap: 5px;
	width: 100%;
	grid-template-columns: repeat(6, 35px);
	.project-tools {
		width: 30px;
		height: 30px;
		object-fit: cover;
		border-radius: 50%;
		cursor: pointer;
	}
}