@use './modules/logo.scss';
@use './modules/link.scss';
:root {
    --navbar-bg-color: transparent;
}
.navbar {
    background-color: var(--navbar-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    opacity: 1;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    transition: opacity, 100ms ease-in-out;
    animation-name: animate-navbar;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-duration: .5s;
    z-index: 10;
}
.navbar-bg {
    transition: background-color, 200ms ease-in-out;
    background-color: rgba(0,0,0,0.7);
}
.menu-button-section {
    display: none;
    button {
        background: none;
        outline: none;
        border:none;
        img {
            cursor: pointer;
            width: 40px;
            height: 40px;
        }
    }
}
@keyframes animate-navbar {
    0% {
        top: 50px;
        transition: bottom,opacity, 1ms ease-in-out;
        opacity: 0;
    }
    100% {
        top: 0px;
        transition: bottom,opacity, 1ms ease-in-out;
        opacity: 1;
    }
}
.show-navbar {
    transform: scale(1)!important;
    transform-origin: top right;
    transition: transform, 200ms ease;
}
@media (max-width: 600px){
    .menu-button-section {
        display: inline-block;
    }
    .navbar-list {
        transform: scale(0);
        transform-origin: top right;
        transition: transform, 200ms ease;
        flex-direction: column;
        position: absolute;
        right: 25px;
        top: 72px;
        border-radius: 0 0 0 10px;
    }
}