.project-canvas {
	display: flex;
	justify-content: flex-end;
	background-size: cover;
	background-position:center;
	background-attachment:scroll;
	background-repeat: no-repeat;
	border-radius: 10px;
	padding: 10px 0;
	min-height: 150px;
	position: relative;
	.project-image {
		max-width: 100px;
		max-height: 100px;
		object-fit: cover;
		border-radius: 50%;
		position: absolute;
		top: 75px;
		right: 5px;
		background-color: rgba(0,0,0,0.85);
	}
	.new-image-window {
		position: absolute;
		right: 5px;
		top: 5px;
		padding: 5px;
		border-radius: 50%;
		transition: background-color, 200ms ease;
		&:hover {
			background-color: rgba(0,0,0,0.85);
			transition: background-color, 200ms ease;
		}
		i {
			color: white;
		}
	}
}