.project-skills {
	margin-top: 10px;
	align-items: center;
	justify-content: center;
	display: grid;
	grid-gap: 2.5px;
	width: calc(100% - 10px);
	min-height: 85px;
	padding: 10px 0;
	grid-template-columns: repeat(6, 35px);
	background-color: rgba(37, 35, 35, 0.774);
	border-radius: 0 0 15px 15px;
	position: fixed;
	bottom: 5px;
	left: 5px;
	.project-tools {
		width: 30px;
		height: 30px;
		object-fit: cover;
		cursor: pointer;
	}
}
@media (max-width: 500px) {
	.project-skills {
		grid-template-columns: repeat(5, 35px);
	}
}