:root {
    --detail-bg-color:gray;
}
.intro-container {
 display: grid;
 align-items: center;
 grid-template-areas: 
 "intro-header intro-header"
 "intro-image intro-detail"
 ;
 padding: 10px;
 grid-template-columns: 300px 1fr;
}
.intro-header-section {
    grid-area: intro-header;
}
.intro-image-section {
    grid-area: intro-image;
    display: flex;
    padding-left: 10px;
    img {
        max-width: 270px;
        max-height: 270px;
    }
}
.intro-detail-section {
    grid-area: intro-detail;
    padding: 10px;
    border-radius: 15px;
    // background: linear-gradient(45deg, rgba(39, 38, 38, 0.322), rgba(0,0,0,0.7));
    .intro-detail {
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        h4 {
            font-size: 18px;
            font-family: "Open Sans", sans-serif;
        }
        p {
            margin-top: 2.5px;
            font-size: 16px;
            padding: 1.5px 2.5px;
            border-radius: 5px;
            font-weight: lighter;
            font-family: "Fira Code", sans-serif;
            color: silver;
        }
    }
}

@media (max-width: 650px) {
    .intro-container {
        grid-template-areas: 
        "intro-header intro-header"
        "intro-image intro-image"
        "intro-detail intro-detail"
        ;
        grid-template-columns: 1fr;
    }
    .intro-image-section {
        padding-left: 0px;
        align-items: center;
        justify-content: center;
    }
    .intro-detail-section {
        padding: 10px;
    }
}

@media (max-width: 700px) {
    .intro-detail-section {
        .intro-detail {
            flex-direction: column;
        }
    }
}